article h1 {
    letter-spacing: 0.1em;
    line-height: 1.5;
}

article:first-of-type h1 {
    color: #FFBF00;
    background-color: rgba(49,49,49,0.8);
    text-shadow: #8E3E02 2px 2px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;

    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

article p {
    margin-top: 10px;
    margin-left: -100px;

    padding-left: 100px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

article:first-of-type ul,
article:first-of-type p,
article:nth-of-type(4) p,
article:nth-of-type(8) p,
article:nth-of-type(9) p,
article:last-of-type p {
    background-color: rgba(49,49,49,0.8);

    margin-top: 0px;
    margin-left: -100px;

    padding-left: 100px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

article:last-of-type li {
    list-style-type: circle;
}

/*article:nth-of-type(3) p {
    padding-top: 150px;
    padding-left: 150px;
}
*/
article h1 {
    padding: 10px 25px;
    padding-left: 100px;

    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: 10px;
    margin-top: 5px;
}

article:nth-of-type(4) h1,
article:nth-of-type(8) h1,
article:nth-of-type(9) h1,
article:last-of-type h1 {
    background-color: rgba(49,49,49,0.8);
}

article.slide {
    background-color: #424242;
    color: #C1C1C1;
}

article.slide h1 {
    color: #FFBF00;
    text-shadow: #8E3E02 2px 2px;
}

article.slide p strong {
    color: #ff8a10;
}

article:last-of-type ul {
    background-color: rgba(49,49,49,0.8);

    margin-top: 200px;
    margin-left: -100px;

    padding-left: 150px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

div.highlight pre {
    color: #ffffff;
    background-color: #000000;
}

section#slide_container {
    background-color: #000000; 
}

article a, article a:visited {
    font-weight: bold;
    color: #66d9ef;
}

article a:hover {
    font-weight: bold;
    color: #ff0000;
}
